/* start of navbar css */
       *{
            margin: 0;
            padding: 0;
        }

        
        
        .navbar{
          display: flex;
          justify-content: space-between;
          backdrop-filter: blur(70px);
          border-bottom: 1px solid #2A2020;
          background:  rgba(10, 10, 30, 0.25);
          background: transparent;
          position: fixed;
          top: 0;
          width: 100%;
          align-items: center;
        }

        .navbar a{
            cursor: pointer;
            color: #8B1E25;
        }

        .navbar a:hover{
            color: #3fb8ff;
        }

        .bar{
             margin-top: 10px;
            font-size: 40px;
            /* font-size: 30px; */
            margin-right: 30px;
            display: none;
        }
        .sectionbar{
            display: flex;
            margin-bottom: 20px;
        }

        .sectionbar  li{
            list-style: none;
            text-decoration: none;
            font-size: -5x;
           margin-top: 30px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .navbar ul{
             display: flex;             
        }


        .image img{
        width: 500px;
        height: auto;
         mix-blend-mode: screen;
         /* background-color: #121212; */
         margin-top: 30px;
        }

       

         .button1{
          margin-right: 60px;
          margin-top: 15px;
          padding: 10px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: -10px;
          font-weight: bold;
          font-size: 17px;
          border-radius: 20px;
          border: 2px solid transparent;
          background:
           linear-gradient(#101014,#101014) padding-box,
           linear-gradient(120deg, #ff5da2, #7c52ff,
           #3fb8ff) border-box;  
          color:#fff;
          transition: 0.3s;
        }

        .button1:hover{
            box-shadow: 0 0 10px #2A2020,
                        0 0 10px #ff5da2,
                        0 0 10px #2A2020;
            background : transparent;
        }

    
        .navbar ul{
            gap: 30px;
        }

        .sectionbar a{
            text-decoration: none;
             color: white;
             transition: 0.3s;
             font-size: 18px;
        }
        .heading1{
            margin-left: 40px;
            margin-top: 30px;
        }
        .heading1 img{
            width: 65px;
            height: auto;
            background: transparent;
            mix-blend-mode: screen;
            margin-top: -10px;
        }


        .sectionbar  li:hover {
         color: #4D8DFF;
         position: relative;
         transition: 0.2s linear;
        }
        .sectionbar li a:hover{
         text-shadow: 0 0 8px #0A66C2;
        }

        .sectionbar li a::after{
            content: "";
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            height: 2px;
            background: #0A66C2;
            box-shadow: 0 0 4px #0A66C2;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
        .sectionbar li a:hover::after{
            transform: scaleX(1);
        }
        body{
            padding-top: 70px;
            margin: 0;
            min-height: 100vh;
              background: linear-gradient(
            135deg,
            #121212 0%,
            #1C1C1C 45%,
            #3A171A 75%,
            #8B1E25 100%);
               color: white;
        }
/* end of navbar csss */
/* end of navbar csss */
/* end of navbar csss */
        .hello{
            color: #4D8DFF;
            letter-spacing: 3px;
            font-size: 20px;
            font-weight: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        }

        .container1{
            margin-top: 50px;
        }

        .name{
           font-size: 100px;
           color: white ;
           font-optical-sizing: auto;
           font-weight: 800;
            font-style: normal;
             font-family: "Space Grotesk" ;
        }

        .surname{
            font-size: 100px;
            margin-top: -15px;
            color: #ffffff6e;
             font-optical-sizing: auto;
             font-weight:800;
             font-style: normal;
            font-family: "Space Grotesk" 
        }

        .intro{
            /* margin-left:20px; */
            font-weight: 900;
            font-size: 30px;
            margin-top: 15px;
        }
        .intro::after {
            content: "Full Stack Developer";
            animation: text 6s infinite;
            color: #3fb8ff;
        }

        @keyframes text{
          0%, 30% {
            content: "Full Stack Developer.";
          }
          31%, 60%{
            content: "Content Creater.";
          }
          61%,100%{
            content: "Problem Solver.";
          }
    }

         
        .intro2{
             margin-left:20px;
            font-weight: 900;
            font-size: 30px;
            color: #4D8DFF;
        }
        .self{
            /* margin-left: 20px; */
            margin-top: 20px;
            letter-spacing: 2px;
            font-weight: bolder;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.80);
            font-family: Arial, Helvetica, sans-serif;
        }
        .image video{
            background: transparent;
            content: "";
               
        }


        video{
           mix-blend-mode: screen;
        }
        
        .maindiv{
             display: flex;
             justify-content: space-around;
             /* background: ; */
           
        }

        .link_button{
            display: flex;
            gap: 10px;
            padding-top: 20px;
           
        }

        .links{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .mail{
            border: 2x solid white;
            width: auto;
            height: auto;
            padding: 15px;
            border-radius: 40px;
            font-weight: bolder;
            background: transparent;
            color: white;
        
        }

        button i{
           margin-right: 7px;
        }


        .insta{
            border-radius: 50%;
            font-size: 25px;
            padding: 7px 2px 6px 6px;
            background: transparent;
            color: rgba(255, 255, 255, 0.65);
        }


         .insta a{
            color: rgba(255, 255, 255, 0.65) ;
         }

         .insta:hover{
          color: #D62976;
          border-color: #D62976;
         }

         .insta:hover a {
            color: #D62976;
         }

       

        
        .youtube{
             border-radius: 50%;
            font-size: 25px;
            padding: 7px 2px 6px 6px;
            background: transparent;
            color: rgba(255, 255, 255, 0.65);  
        }
        .youtube a{
            color: rgba(255, 255, 255, 0.65);
        }

        .youtube:hover{
            color: #FF0000;
          border-color: #FF0000;
        }

        .youtube:hover a{
            color: #FF0000;
        }

        .linkdin{
             border-radius: 50%;
            font-size: 25px;
            padding: 7px 2px 6px 6px;
            background: transparent;
            color: rgba(255, 255, 255, 0.65);
        }

        .linkdin a{
            color: rgba(255, 255, 255, 0.65);
        }

        .linkdin:hover{
            color: #0A66C2;
            border-color: #0A66C2;
        }

        .linkdin:hover a{
            color: #0A66C2;
        }


        .get{
             border: 2x solid white;
            width: auto;
            height: 50px;
            padding-bottom: -50px;
            border-radius: 40px;
            font-size: 20px;
            font-weight: bolder;
            background: transparent;
            color: white;
            padding: 15px 30px 38px 30px;
            background-color: black;
            color: white;
            margin-top: 20px;
        }

        .get:hover{
         background-color: #fff;
         color: black;
          box-shadow: 0 0 10px #2A2020,
                        0 0 10px #ff5da2,
                        0 0 10px #2A2020;
        } 



        .allboxes{
            display: grid;
            grid-template-columns: 220px 220px 220px 220px;
            gap: 40px;
            padding-top: 100px;
            justify-content: center;
            flex-direction: row;
            display: flex;
        }

        .box:hover{
            transform: translateY(5px);
            border-color:#D62976;
        }

        .box{
            width: 250px;
            height: 200px;
          border: 2px solid rgba(255, 255, 255, 0.555);
          border-radius: 20px;
          text-align: center;
          align-content: center;
       
          /* padding-top: 20px; */
          /* padding: 20px; */
        }


        .box h1{color: rgb(255, 255, 255) ;}

        .box h2{
            color: rgba(255, 255, 255, 0.747);
        }

        .box p{
            color: #D62976;
            margin-top: 5px;
        }

        .box1 button{
             border-radius: 50%;
            font-size: 23px;
             padding:  9px 2px 8px 8px ;
             border: 1px solid #D62976 ;
              color: #c6447f;
            background: transparent;
            margin-bottom: 10px;
            
        }

         .box2 button{
             font-size: 23px;
             padding:  9px 2px 8px 8px ;
             border: 1px solid #D62976 ;
              color: #c6447f;
             border-radius: 50%;
            background: transparent;
            margin-bottom: 10px;
        }

        .box3 button{
             border-radius: 50%;
            font-size: 23px;
             padding:  9px 2px 8px 8px ;
             border: 1px solid #D62976 ;
              color: #c6447f;
            background: transparent;
            margin-bottom: 10px;
        }

          .box4 button{
             border-radius: 50%;
            background: transparent;
            margin-bottom: 10px;
            font-size: 23px;
             padding:  9px 2px 8px 8px ;
             border: 1px solid #D62976 ;
              color: #c6447f;
        }

        .frontend{
            padding-top: 150px;
        }

    
        .front{
            padding-top: 100px;
            text-align: center;
            padding-top: 150px;
            line-height: 1.6;
            font-family:  sans-serif;
            font-size: 20px;
            padding: 10px;
        }

        .front p{
            font-size: 17px;
            font-family: monospace;
            padding: 10px;
        }

        .frontend .fronthead{
            text-align: center;
             padding-top: 70px;
             padding-bottom: 30px;
              
        }
        .cards{
             display: grid;
            grid-template-columns: 150px 150px 150px 150px;
            gap: 40px;
            justify-content: center;
            flex-direction: row;
            display: flex;
    
        }

        .card{
            width: 150px;
            height: 150px;
            border: 2px solid #ffffff38;
            border-radius: 30px;
        }

        .card:hover{
             transform: translateY(5px);
        }

        .card i{
            font-size: 40px;
        }

        .card1{
            align-content: center;
            text-align: center;
        }

        .card1:hover{
            border-color: orangered;
        }


        .card1 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }

         .card2{
            align-content: center;
            text-align: center;
            
        }

        .card2:hover{
            border-color: #0A66C2;
        }

        .card2 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }

         .card3{
            align-content: center;
            text-align: center;
            
        }

        .card3:hover{
            border-color: yellow;
        }

        .card3 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }

         .card4{
            align-content: center;
            text-align: center; 
        }

        .card4:hover{
            border-color: skyblue;
        }

        .card4 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }


         .card5{
            align-content: center;
            text-align: center;
        }

        .card5:hover{
            border-color: #7c52ff;
        }

        .card5 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }


         .card6{
            align-content: center;
            text-align: center;  
        }

        .card6:hover{
            border-color: skyblue;
        }

        .card6 p{
            font-size: 14px;
            margin-top: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            color: rgb(255, 255, 255);
        }

        .card_info i{
            font-size: 40px;
            line-height: 1.5;
        }

        .backend{
        padding-top: 100px;
        text-align: center;
        }

        .back_card:hover{
             transform: translateY(5px);
        }

        .back1:hover{
            border-color: yellow;
        }

         .back2:hover{
            border-color: skyblue;
        }

         .back3:hover{
            border-color: green;
        }

         .back4:hover{
            border-color: greenyellow;
        }

        .backend h1{
            padding-bottom: 30px;
        }

        .back_card{
            width: 150px;
            height: 150px;
            border: 2px solid #ffffff38;
            border-radius: 30px;
            text-align: center;
            align-content: center;
        }

        .card_info{
             display: grid;
            grid-template-columns: 150px 150px 150px 150px;
            gap: 40px;
            justify-content: center;
            flex-direction: row;
            display: flex;
        }

        .toolbar{
             display: grid;
            grid-template-columns: 150px 150px;
            gap: 40px;
            justify-content: center;
            flex-direction: row;
            display: flex;
            padding-top: 35px;   
        }

        .tool:hover{
            transform: translateY(5px);
        }

        .tool1:hover{
            border-color: orange;
        }

        
        .tool2:hover{
            border-color: black;
        }

        .tools{
             padding-top: 100px;
             text-align: center;
        }

        .tool{
            width: 150px;
            height: 150px;
            border: 2px solid #ffffff38;
            border-radius: 30px;
            text-align: center;
            align-content: center;
        }

        .tool i{
            font-size: 40px;
            line-height: 1.4;
        }

        .Journey{
            padding-top:100px ;
        }

        .my{
            padding-top: 100px;
            text-align: center;
            padding-bottom: 60px;
            padding: 10px;
        }

        .my p{
            padding-top: 10px;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.589);
            padding: 15px;
        }

        .my h1{
            font-size: 60px;
        }

        .my .j{
            color: #4D8DFF;
        }

        .web_developer{
            padding: 20px;
            width: 800px;
            height: auto;
            border-radius: 30px;
            border-color: rgba(255, 255, 255, 0.318);
              display: flex;
                flex-direction: row;
        }

        .leg{
            align-content: center;
            justify-items: center;
        }

        legend{
            font-size: 40px;
            color:#ff5da2;
        }

        .web_developer p{
            font-size: 20px;
            text-align: center;
        }

        .freelancer{
            padding: 20px;
            width: 800px;
            height: auto;
            border-radius: 30px;
            border-color: rgba(255, 255, 255, 0.318);
              display: flex;
                flex-direction: row;
        }

        .free{
            padding-top: 50px;
            align-content: center;
            justify-items: center;
        }

        
        .freelancer p{
            font-size: 20px;
            text-align: center;
        }

        .full_stack{
           padding-top: 50px;
            align-content: center;
            justify-items: center;
        }

        .full{
             padding: 20px;
            width: 800px;
            height: auto;
            border-radius: 30px;
            border-color: rgba(255, 255, 255, 0.318);
              display: flex;
                flex-direction: row;
        }


         .full p{
            font-size: 20px;
            text-align: center;
        }

        .business{
            text-align: center;
            justify-items: center;
            padding-top: 120px;
            flex-direction: row;
        }

        .business h1{
            font-size: 50px;
            letter-spacing: 3px;
            padding-bottom: 20px;
        }

        .mind{
            color: #4D8DFF;
        }

        .p_one{
            font-size: 18px;
             color: rgba(255, 255, 255, 0.798);
             padding-bottom: 30px;
        }

        .business button{
            padding: 20px 40px;
            border-radius: 27px;
            font-size: 17px;
            background-color: #4D8DFF;
            border-color: #4D8DFF;
            color: black;
            font-weight: bolder;
        }

        .P_two{
            padding-top: 30px;
            color: rgba(255, 255, 255, 0.675);
            padding-bottom: 100px;
        }

        .footer{
            display: flex;
            padding-top: 100px;
            justify-content: space-evenly;
            background-color: black;
            padding: 20px;
            flex-direction: row;
        }

        .my_self h1{
            padding-bottom: 18px;
        }

        .my_self p{
            color: rgba(255, 255, 255, 0.531);
        }

        .f_s{
        color: #4D8DFF; 
        }

        .footer_icon{
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .f_icon{
            border-radius: 50%;
            padding: 2px;
        }

        .linkdin_two a{
            color: black;
            list-style: none;
            text-decoration: none;
            border-color: transparent;
        }

         .linkdin_two:hover{
            color: #0A66C2;
            background-color: #0A66C2;
            border-color: #0A66C2;
        }

        .linkdin_two:hover a{
            color: white;
        }


        .insta_two a{
            color: black;
            list-style: none;
            text-decoration: none;
            border-color: transparent;
        }

         .insta_two:hover{
            color: #D62976;
            background-color:#D62976;
            border-color: #D62976;
        }

        .insta_two:hover a{
            color: white;
        }

        .git_hub a{
            color: black;
        }

          .git_hub:hover{
            color:white;
            background-color:black;
            border-color: black;
        }

        .git_hub:hover a{
            color: white;
        }




        .f_icon i{
         padding: 10px 5px 9px 9px;
         font-size: 18px;
         gap: 5px;
        }

        .Quick ul li{
          list-style: none;
          line-height: 1.7;
          padding-top: 15px;
          font-weight: bold;
        }

        .Quick a{
            color: rgba(255, 255, 255, 0.692);
            text-decoration: none;
        }

        .logo_f i{
          font-size: 20px;
          color: #4D8DFF;
        }

        .footer_get h2{
            /* padding-top: 20px; */
            padding-bottom: 5px;
        }



        /* Media query strt */

        @media only screen and (max-width:1000px) {
            .allboxes{
                padding-left: 20px;
                padding-right: 20px; 
                  align-items: center;
                  margin-top: 40px;
            }
            .box{
                width: 200px;
            }

            .image img{
                width: 300px;
                height: auto;
                 align-items: center;
                 justify-content: center;
                 margin-top: 20px;
            }

            .container1{
                padding-left: 20px;
            }

            .web_developer{
                width: 650px;
                height: auto;
            }

            .freelancer{
                 width: 650px;
                height: auto;
            }

            .full{
                width: 650px;
                height: auto;
            }
            .name{
                font-size: 90px;
            }

            .surname{
                font-size: 90px;
            }

            .self{
                font-size: 16px;
            }

            .cards{
                align-items: center;
            }

            .card_info{
                align-items: center;
            }

            .frontend{
                padding-top: 50px;
            }
          
        
        }



         @media  only screen and (max-width:700px){

            .frontend h1{
                font-size: 30px;
            }

            .frontend .fronthead{
                font-size: 25px;
            }
            
            .bar{
                display: flex;
            }

            .navbar{
                width: 100%;
            }

            .navbar ul{
                display: none;
            }

            .maindiv{
              flex-direction: column-reverse;
              text-align: center;
            }

            .image img{
                width: 270px;
                height: auto;
                 align-items: center;
                 justify-content: center;
                 margin-top: 20px;
            }


            .name {
                 font-size: 60px !important;
            }

            .surname{
                font-size: 60px !important;
            }

            .container1{
                text-align: center;
                align-items: center;
                justify-content: center;
            }

          .mail{
            align-self: center;
          }

           .links{
            align-items: center;
           }

           .link_button{
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
          
           }

           .allboxes{
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
           }

           .box{

           }

           .cards{
            /* align-content: center; */
            align-items: center;
            flex-wrap: wrap;
            display: flex;
            flex-direction: row; 
           }

           .backend{
            text-align: center;
           }

           .card_info{
            align-items: center;
             flex-wrap: wrap;
            display: flex;
            flex-direction: row;
           }

           .timeline-item {
            display: none;
            align-items: center;
           }

           .timeline-item:nth-child(odd) {
            justify-content: start;
             }

             .web_developer {
                width: 250px !important;
                height: auto !important;
                flex-wrap: wrap;
                  display: flex !important;
                flex-direction: column !important;
             }

             .freelancer{
                  width: 250px !important;
                height: auto !important;
                flex-wrap: wrap;
                  display: flex !important;
                flex-direction: column !important;
             }

             .full{
                  width: 250px !important;
                height: auto !important;
                flex-wrap: wrap;
                display: flex !important;
                flex-direction: column !important;
             }

             .toolbar{
                flex-wrap: wrap;
             }

             .my{
                flex-wrap: wrap;
             }

             .my h1 {
                font-size: 30px !important;
             }

             .my p{
                font-size: 14px !important;
             }
             legend{
                font-size: 30px !important;
             }

             .business{
                flex-direction: column !important;
                flex-wrap: wrap;
             }

             .business h1{
                font-size: 35px;
             }

             .footer{
                flex-direction: column !important;
                flex-wrap: wrap;
                display: flex !important;
                /* align-items: center; */
                /* text-align: center; */
                /* justify-items: center; */
                /* justify-content: center; */
             }

             .backend h1 {
                font-size: 25px;
             }

             .Quick h1{
                padding-top: 30px;
                display: flex;
                flex-wrap: wrap;
             }
        }

        @media only screen and (max-width:400px) {

            .intro{
                padding: 0px 5px;
            }


            .button_center{
                flex-wrap: wrap;
            }


            .insta{
                margin-right: 7px;
            }

            .youtube{
                margin-right: 7px;
            }


            .self{
                padding: 5px 10px;
            }

                .allboxes {
                    justify-content: space-evenly !important;
              align-items: center;
              padding: 20px;
               flex-wrap: wrap;
               display: flex;
               flex-direction: row;
               gap: 10px;
          }



            .box{
                width: 130px;
                height: 180px;
                padding: 0px 5px;  
                /* flex-direction: column !important; */
                
                /* flex-wrap: wrap !important; */
            }

            .box button{
                font-size: 21px;
            }

            .box  h1{
                font-size: 20px;
            }

            .box h2{
                font-size: 16px;
            }

            .box p{
                font-size: 13px;
                overflow-wrap: break-word;
            }


            .cards{
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;
                /* justify-content: space-around; */
            }

            .card{
                width: 140px;
                height: 140px;
            }

            .card_info{
               flex-direction: row;
               flex-wrap: wrap;
               gap: 15px;
            }

            .back_card{
                 width: 140px;
                height: 140px;
            }


             .toolbar{
                 flex-direction: row;
               flex-wrap: wrap;
               gap: 15px;
             }

             .tool{
                width: 140px;
                height: 140px;
             }


             .business h1{
                font-size: 28px;
             }

             .p_one{
                font-size: 15px;
                padding: 0px 10px;   
                padding-bottom: 20px;
                     }


            .business button{
                padding: 15px 30px;
                font-size: 15px;
            }
          

              .web_developer {
                width: 220px !important;
                height: auto !important;
                flex-wrap: wrap;
                  display: flex !important;
                flex-direction: column !important;
             }

             .freelancer{
                  width: 220px !important;
                height: auto !important;
                flex-wrap: wrap;
                  display: flex !important;
                flex-direction: column !important;
             }

             .full{
                  width: 220px !important;
                height: auto !important;
                flex-wrap: wrap;
                display: flex !important;
                flex-direction: column !important;
             }
        }




        
       